$bg-dark-mode: linear-gradient(to right, #434343 0%, black 100%);
$bg-radial: -webkit-radial-gradient(0 0, #434343, #000);
$bg-light-mode: linear-gradient(to top, #dad4ec 0%, #dad4ec 1%, #f3e7e9 100%);
$color-primary-dark-mode: #25abd9;

// Color Palate for dark mode

$color-1: #0f4759;
$color-2: #69c3e0;
$color-3: #2a4d59;
$color-4: #1c83a6;
